   

    <div class="main">
      <div class="container">
        
        <!-- Form goes here -->

        <%= form_for(@new_post) do |f|%>
           <div class="field">
                <%= f.text_area :comment%>
           </div>
           <div class="actions">
                <%= f.submit "Post"%>
            </div>
        <%end%>    
        
        
        <ul class="comments">
            <% @all_posts.each do |p| %>
                <li>
                    <%= p.comment %>
                </li>
            <%end%>    
        </ul>
         

      </div>
    </div>