
<div class="nav">
     <div class="container">
          <ul> 
              <li>Home</li> 
              <li>About</li>
              <li>Gallery</li>
              <li>Contact</li> 
          </ul> 
     </div>
</div>
<div class="container">
     <div class="row"> 
         <div class="col-md-4">
              <img class="img-responsive" src="http://img.amerikanki.com/wp-content/uploads/2013/12/Tower-Bridge.jpg">
         </div> 
         <div class="col-md-4"> 
             <img class="img-responsive" src="http://15858-presscdn-0-65.pagely.netdna-cdn.com/wp-content/uploads/sites/default/files/images/800px-CalatravaPuentedelAlamilloSevillejpg.jpg"> 
         </div> 
         <div class="col-md-4"> 
             <img class="img-responsive" src="https://ilovetravelingandexploring.files.wordpress.com/2014/08/bigar-waterfall-romania.jpg"> 
         </div>
     </div> 
     <div class="row"> 
         <div class="col-md-4"> 
             <img class="img-responsive" src="http://static3.businessinsider.com/image/564f7ed2c28144be008b456c-1200/the-wave-vermillion-cliffs-arizona.jpg"> 
         </div>
         <div class="col-md-4"> 
             <img class="img-responsive" src="http://oddstuffmagazine.com/wp-content/uploads/2011/11/544.jpg">
         </div>
         <div class="col-md-4">
              <img class="img-responsive" src="https://i.ytimg.com/vi/qSdVEeIgPRM/maxresdefault.jpg">
         </div>
     </div>

