<header>
    <nav>
        <ul>
            <li>Welcome</li>
            <li>Portfolio</li>
            <li>Blog</li>
             <li>About</li>
            <li>Contact</li>
            <li>Sounkoun Soumare</li>
        </ul>
    </nav>
    
</header>
<main>
    <h1>Hi my name is Sounkoun Soumare and I am create web apps front and back end using Ruby on Rails Framework</h1>
    <btn>View my Work </btn>
</main>