<div class="header">
			<h1>Sounkoun Soumare</h1>
		</div>
		<div class="tagline">
			<h2>
				I am a <strong>ruby on rails </strong>front end and back end developer who works in a local school helping <strong>build web application</strong>
			</h2>
</div>
