<div class="jumbotron">
    <div class="container">
        <div class="main">
            <h1>Welcome to Dakar Senegal</h1>
            <a class="btn-primary" href="https://www.seneweb.com">Enter Here To Discover</a>
        </div>    
    </div>
</div>

<div class="supporting">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
                <h2>Design</h2>
                <p>Make your Vacation the best possible .</p>
                <a class="btn-default" href="#">Learn more</a>
            </div>
            <div class="col-md-4">
                 <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
                <h2>Design</h2>
                <p>Create some new realtionship with your  family .</p>
                <a class="btn-default" href="#">Learn more</a>
            </div>
            <div class="col-md-4">
                 <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
                <h2>Design</h2>
                <p>Take with you memories that will be there forever .</p>
                <a class="btn-default" href="#">Learn more</a>
            </div>
        </div>
        
    </div>
    <div class="clearfix">
    </div>
</div>
