 


    <div class="main">
      <div class="container">
        <img src="http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/cloud.svg" height="128" width="196">
        <h2>The Innovation Cloud Conference</h2>
        <p>Connect with the best minds across a wide range of industries to share ideas and brainstorm new solutions to challenging problems.</p>
        <p>Hear industry leaders talk about what worked (and what didn't) so that you can save time on your most challenging projects.</p>
        <p>Learn about the latest research and technologies that you can use immediately to invent the future.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2>Stay Connected</h2>
        <p>Receive weekly insights from industry insiders.</p>
        
        
        <!-- Your code here -->
      <%= form_for(@signup) do |f| %>  
         <div class="field"> 
            <%= f.label :signup %><br> 
            <%= f.text_area :email %> 
         </div> 
         <div class="actions"> 
            <%= f.submit "Join" %> 
         </div> 
     <% end %>
      </div>
    </div>

                                                                                                                                                        