


<div class="main">
    <img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" width="24px"> 
        <div class="container"> 
            <div class="row"> 
                <div class="content col-md-6 col-md-offset-6"> 
                <h1>Create and share Stories</h1> 
                <p>
                     <a class="btn btn-primary" href="about">Learn more</a>
                </p> 
            </div> 
        </div> 
    </div> 
</div>
<div class="supporting">
    <div class="container"> 
        <h2>Relive and share your adventures</h2> 
        <p>Stories automatically creates a digital journal filled with only your best photos.</p>
    </div>
</div>
<div class="secondary">
    <div class="container"> 
    </div> 
</div>
<div class="about"> 
    <div class="container">
        <h2>Discover Stories</h2>
            <p><a class="btn btn-primary" href="about">Learn more</a></p>
    </div> 
</div>
